.Calendar {
  text-align: center;
  font-family: Verdana, sans-serif;
}
.Calendar .Container {
  height: auto;
  pointer-events: none;

  background-color: #6b6b6b;
  border-radius: 10px;
}

.Calendar-header {
  padding: 10px;
  text-align: left;
  color: #ffffff;
}
.Calendar-header .year {
  font-size:20px;
}
.Calendar-header .date {
  font-size:40px;
}

.Calendar-box {
  height: auto;
  pointer-events: none;

  background-color: #ffffff;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Calendar-month-select {
  width: 95%;
  padding: 5px;
}
.Calendar-month-select .bnt {
  background-color: #9b1818;
  border: 0px;
  font-size: 40px;
  cursor: pointer;
}
.Calendar-month-select-btl {
  float: left;
}
.Calendar-month-select-btr {
  float: right;
}





.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}


.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}